body {
  background-image: url("https://cdn.goskills.com/blobs/blogs/154/63.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-size: 36px;
}

.material-icons { 
  vertical-align: middle;
}

ul {
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.top-bar {
  background-color: rgb(199, 196, 196);
  font-size: large;
}

.name {
  font-size: x-large;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn:hover {
  color: lightblue;
}

.btn {
  background-color: gray;
  color: black;
  font-size: medium;
}

a:active {
  color: red;
}

